@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
		url('../fonts/proximanova-regular-webfont.woff') format('woff'),
		url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
		url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0')
		format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
		url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
		url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
		url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	color: #ff7b74;
	font-family: "proxima_nova_rgregular";
}
/************************** HEADER **************************/
.top-bar {
	border: solid 1px #CCC;
	height: 48px;
}
/************************** BODY **************************/
.container {
	background: #ffffff none repeat scroll 0 0;
	margin-top: 40px;
	padding-bottom: 15px;
	padding-top: 15px;
	border: solid 1px #CCC;
}

body {
	/* 	background: url("../img/body-2.jpg") repeat scroll 0 0 #deceb9; */
	background: none repeat scroll 0 0 #e6e6e6;
	color: #333333;
	font-family: 'proxima_nova_rgregular';
	overflow-x: hidden;
	text-rendering: optimizelegibility;
	word-wrap: break-word;
}

.side-nav {
	background: #fff;
	margin-top: 40px;
}
/***************** welcome *****************/
.full-picture {
	background: rgba(0, 0, 0, 0) url("../img/dancing-stretch-1600.jpg")
		no-repeat scroll center center/cover;
	float: left;
	height: 100%;
	width: 100%;
	margin-left: 0px;
}

.logo-welcome {
	text-align: center;
	margin-top: 20px;
}

.search-form-welcome {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	box-sizing: border-box;
	padding: 15px 20px 20px;
	width: 100%;
}
/***************** register *****************/

/***************** personal profile *****************/
.personal-button {
	float: right;
}
.profile-container {
	margin-top: 76px;
	margin-bottom: 76px;
	padding: 15px;
	background: #ffffff none repeat scroll 0 0;
	border: solid 1px #CCC;
}

.personal-info-section {
	border-bottom: 1px solid #eee;
}

.personal-profile-picture {
	padding: 5px;
	border: solid 1px #EFEFEF;
	margin-bottom: 15px;
}

.personal-info-title {
	font-weight: 800;
	display: block;
	font-size: 14px;
}

.personal-info-detail {
	display: block;
	font-size: 14px;
}
#
/***************** search *****************/
.search-single-result {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	box-sizing: border-box;
	padding: 15px 20px 20px;
	width: 100%;
}
#attention-modal, #block-modal {
	width: 30%;
}
/***************** messenger-item *****************/
.chat-container {
	background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin-top: 40px;
}
.window {
    background: white none repeat scroll 0 0;
    border-radius: 4px;
    height: 640px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    width: 840px;
}
.conv-list-view {
    background: white none repeat scroll 0 0;
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.7);
    height: 100%;
    z-index: 1;
}
.conv-list-view__header {
	height: 50px;
}
.conv-list {
	background: white none repeat scroll 0 0;
	height: 100%;
	border: 1px solid #eee;
}

.messenger-item {
	border: solid 1px #ccc;
}

.conv-list li {
	box-sizing: border-box;
	padding: .5em .5em;
	width: 100%;
	border-bottom: 1px solid #E3E3E3;
	overflow-x: hidden;
}
.conv-list li:hover {
	background: #eee;
	cursor: pointer;
}

.conv-list .selected {
	background-color: #FBFBFB;
	box-shadow: 0 1px 1px 0 rgba(230, 230, 230, 0.3) inset, 0 -1px 1px 0
		rgba(230, 230, 230, 0.3) inset;
}

.close-button-list {
	display: inline-block;
	margin: 0;
	padding: 19px 10px;
	float: left;
}

.close-button-list li {
	width: 12px;
	height: 12px;
	margin-left: 8px;
	background-image: radial-gradient(20px 15px at center 15%, #ffffff, rgba(255, 255, 255, 0)
		35%),
		radial-gradient(30px 30px at center bottom, #ffffff, rgba(0, 0, 0, 0));
	background-color: #D9D9D9;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(61, 41, 41, 0.4) inset, 0 -1px 1px
		rgba(61, 41, 41, 0.3) inset;
}

.status {
	position: relative;
	padding: 0 1em;
	float: left;
}

.status__indicator, .status__indicator--online,
	.status__indicator--unread-message, .status__indicator--replied-message,
	.status__indicator--read-message {
	position: absolute;
	left: 0;
	width: 8px;
	height: 100%;
}

.status__indicator:after, .status__indicator--online:after,
	.status__indicator--unread-message:after,
	.status__indicator--replied-message:after,
	.status__indicator--read-message:after, .status__indicator:before,
	.status__indicator--online:before, .status__indicator--unread-message:before,
	.status__indicator--replied-message:before,
	.status__indicator--read-message:before {
	top: 50%;
}

.status__indicator--online:after, .status__indicator--unread-message:after
	{
	margin-top: -4px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	box-shadow: 0 0 1px #1a1a1a inset, 0 -1px 3px rgba(38, 38, 38, 0.6)
		inset;
	background-color: #66B736;
}

.status__indicator--unread-message:after {
	background-color: #5383E3;
}

.status__indicator--replied-message {
	left: -2px;
}

.status__indicator--replied-message:before {
	margin-top: -4px;
	border-style: solid;
	border-width: 4px 5px 4px 0;
	border-color: transparent #BBBEC4 transparent transparent;
	transform: rotate(360deg);
}

.status__indicator--replied-message:after {
	left: -5px;
	margin-top: -2px;
	width: 16px;
	height: 18px;
	clip: rect(0, auto, auto, 8px);
	border-top: 4px solid #BBBEC4;
	border-radius: 50%;
}

.status__indicator--read-message:after, .status__indicator--read-message:before
	{
	background-color: #BBBEC4;
	border-radius: .2em;
}

.status__indicator--read-message:before {
	width: .15em;
	height: .3em;
	transform: rotate(-45deg);
}

.status__indicator--read-message:after {
	margin-top: -.25em;
	left: .28em;
	width: .12em;
	height: .6em;
	transform: rotate(45deg);
}

.status__avatar, .status__avatar--small, .status__avatar--facebook,
	.message__avatar {
	position: relative;
	display: block;
	float: left;
	width: 2.5em;
	height: 2.5em;
	border-radius: .3em;
	margin: 0 .5em 0 0;
	overflow: hidden;
}

.status__avatar:before, .status__avatar--small:before,
	.status__avatar--facebook:before, .message__avatar:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 0.125em #1a1a1a inset, 0 0 0.312em #1a1a1a inset;
}

.status__avatar img, .status__avatar--small img,
	.status__avatar--facebook img, .message__avatar img {
	width: inherit;
	height: inherit;
}

.status__avatar--small {
	font-size: .8em;
}

.status__avatar--facebook:after {
	box-sizing: border-box;
	position: absolute;
	font-weight: bold;
	content: 'f';
	padding: 0 .3em;
	line-height: 15px;
	right: 0;
	bottom: 0;
	width: 15px;
	height: 15px;
	color: white;
	background-color: #485396;
	box-shadow: 0 0 1px #2D3989 inset;
	border-radius: 3px 0 0 0;
}

.meta {
	white-space: nowrap;
}

.meta__sub, .meta__sub--dark, .meta__sub--light {
	font-size: .8em;
}

.meta__sub--dark {
	color: #8D8D8D;
}

.meta__sub--light {
	color: #A5A5A4;
}


.chat-view__header {
	position: relative;
	border-bottom: 1px solid rgba(128, 128, 128, 0.1);
	height: 45px;
}

.chat-view__header:after {
	position: absolute;
	content: '';
	bottom: -15px;
	left: 0;
	right: 0;
	height: 15px;
	background: radial-gradient(50% 30% at center top, rgba(128, 128, 128, 0.1),
		rgba(0, 0, 0, 0));
}

.message-view {
	padding: 1em;
	font-size: .9em;
}

.message--send {
	float: right;
}

.message__bubble, .message__bubble--send {
	float: left;
	position: relative;
	display: inline-block;
	margin: .5em .75em;
	padding: .1em .5em;
	border-radius: 1.5em;
	text-shadow: 0 1px 1px white;
	background-color: #F5F4F1;
	border: 1px solid #CDCDCA;
	box-shadow: 0 1px 1px 0 #CDCDCA;
	overflow: hidden;
}

.message__bubble:after, .message__bubble--send:after {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: inherit;
	background: radial-gradient(40% 5px at 50% 5px, rgba(255, 255, 255, 0.4)
		70%, rgba(255, 255, 255, 0));
}

.message__bubble--send {
	background-color: #E9F2DC;
	border: 1px solid #B7C8A1;
}

.message__bubble--send:after {
	background: radial-gradient(40% 5px at 50% 5px, rgba(255, 255, 255, 0.2)
		70%, rgba(255, 255, 255, 0));
}

.message__avatar {
	margin-right: 0;
}

.chat-view {
	background: #eee none repeat scroll 0 0;
    bottom: 0;
    padding: 0.625em 1.25em 1.25em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.chat-view__input {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: .25em .5em .5em .75em;
}

.input {
	position: relative;
	float: left;
	width: 90%;
	margin-top: 1px;
	background: white;
	padding: 0 .3em;
	border: none;
	border-radius: 4px;
	border: 1px solid #CDCDCA;
	box-shadow: 0 0 2px 0 #CDCDCA inset;
	white-space: nowrap;
}

.input:after {
	top: 50%;
	right: -2px;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	background: white;
	box-shadow: 1px -1px 0 .5px #CDCDCA;
	transform: rotate(45deg);
}

.input input {
	font-size: 1.1em;
	appearance: none;
	border: none;
	width: 100%;
	outline: none;
	height: 50px;
}

.input__emoticon {
	position: relative;
	display: inline-block;
	float: right;
	margin-top: .32em;
	height: .8em;
	width: .8em;
	opacity: .5;
	border: .15em solid #B3B3B1;
	border-radius: 100%;
}

.input__emoticon:after, .input__emoticon:before {
	border-radius: 100%;
}

.input__emoticon:before {
	top: .14em;
	left: .15em;
	width: .2em;
	height: .2em;
	background-color: #B3B3B1;
	box-shadow: .35em 0 0 0 #B3B3B1;
}

.input__emoticon:after {
	top: .12em;
	left: .12em;
	right: .12em;
	bottom: .12em;
	clip: rect(0.3em, auto, auto, 0);
	border: .125em solid #B3B3B1;
}

.cf:before, .cf:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.cf:after {
	clear: both;
}
/************************** FOOTER **************************/
footer {
	background: #fff none repeat scroll 0 0;
	border-top: solid 1px #CCC;
	border-bottom: 8px solid #ff7b74;
	margin-top: 40px;
	padding-top: 20px;
}

.bottom-menu ul {
	margin-bottom: 0 !important;
	float: right;
}

.bottom-menu ul li {
	list-style: none outside none;
	float: left;
	padding: 0 0 10px 15px;
}